<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <title>Verdanz | Início</title>
</head>

<body class="m-0 min-h-screen bg-[url('/img/image.png')] bg-no-repeat bg-cover bg-center">

    <div>
        <div class="w-[100dvh] translate-y-[160px] -translate-x-[-390px]">
            <img src="/img/Verdanz.png" alt="Verdanz">
        </div>

        <a href="/login">
            <div class="flex justify-center translate-y-[190px]">
                <button
                    class="bg-[rgb(84,252,104)] rounded-[110px] p-5 w-[20dvh] cursor-pointer border-0"> Começar </button>
            </div>
        </a>
    </div>

</body>

</html>
